In [8]:
"""
16.12.2022
"""

#1
#Dersteki pi sayısını bulma tarzında monte carlo yöntemleri gibi
#1 zarı 10000 kere atıp 1 2 3 4 5 6 sayılarını gelme olasılıkları

import random

total = 10000
num_list = []
unique_count = []

for each in range(total):
    x = random.randint(1,6)
    num_list.append(x)
    
for each in range(1,7):
    unique_count.append(num_list.count(each))

adding_all = 0
for each in range(1,7):
    print(each," = ", unique_count[each-1]/total)
    adding_all+=unique_count[each-1]/total
print("+___________")
print("     ",adding_all)

1  =  0.1622
2  =  0.1623
3  =  0.1757
4  =  0.1652
5  =  0.1627
6  =  0.1719
+___________
      1.0

In [18]:
#2
"""
Marko chain yöntemlerini kullanarak 1 yıllık bir kişinin yemek yeme datasını oluşturarak rastgele (hamburger,pizza, lahmancun olacak sadece)
Hamburger-hamburger,
hamburger-pizza,
hamburger lahmancun gelme olaslıklarını hesaplayınız.
not bunu pizza ve lahmacun içinde yapınız
"""
import pandas as pd

day_num = 365
yemek_gun = []

for each in range(365):
    x = random.randint(1,3)
    if x == 1:
        yemek_gun.append("Hamburger")
    elif x == 2:
        yemek_gun.append("Pizza")
    else:
        yemek_gun.append("Lahmacun")

#dictionary column 0 = hamburger, 1 = pizza, 2 = lahmacun    
food_dict = {"Hamburger" : [0,0,0],
             "Pizza" : [0,0,0],
             "Lahmacun" : [0,0,0]}

dict_index = {"Hamburger": 0, "Pizza": 1, "Lahmacun": 2}

x = 0
y = 1

for each in range(365):
    
    x1 = yemek_gun[x]
    y1 = yemek_gun[y]
    

    food_dict[x1][dict_index[y1]]+=1
    
    if y == 364: break

    x+=1
    y+=1

food_count = []
food_count.append(yemek_gun.count("Hamburger"))
food_count.append(yemek_gun.count("Pizza"))
food_count.append(yemek_gun.count("Lahmacun"))
x=0
for i in food_dict:
    for j in range(3):
        
        food_dict[i][j]/= food_count[x]
    x+=1

df = pd.DataFrame(food_dict, index = food_dict.keys()).transpose()
df['Total'] = df.sum(axis=1)
df

           Hamburger     Pizza  Lahmacun     Total
Hamburger   0.374046  0.320611  0.297710  0.992366
Pizza       0.304348  0.313043  0.382609  1.000000
Lahmacun    0.386555  0.310924  0.302521  1.000000

In [25]:
#
"""
2 yıllık altın fiyatı oluşturunuz rastgele 800 ve 1000 arasında
    Yine markov chain artış azalış sabit kalma 3 durum. olasılıklarınız çıkarınız.
Örnek ilk veriniz 800 sonraki veriniz 810 bu artış
ilk veriniz 900 sonraki veriniz 850 azalış
850 - 850 ise sabit şekilde kategorik hale getirip markov chain uygulayınız
"""

day = 700
price = []

for each in range(day):
    x = random.randint(800,1000)
    price.append(x)

x = 0
y = 1

price_new = []



dict_index = {"Artis": 0, "Azalis": 1, "Sabit": 2}
   
gold_dict = {"Artis" : [0,0,0],
             "Azalis": [0,0,0],
             "Sabit" : [0,0,0]}



    
for each in range(day):
    x1 = price[x]
    y1 = price[y]
    
    if y1>x1:
        price_new.append("Artis")
    elif x1>y1:
        price_new.append("Azalis")
    else:
        price_new.append("Sabit")      
    
    if y == 699: break
    
    x+=1
    y+=1

x=0 
y=1
    
for each in range(day-1):
    x1 = price_new[x]
    y1 = price_new[y]
        
    gold_dict[x1][dict_index[y1]]+=1
    
    
    if y == 698: break
    
    x+=1
    y+=1

durum_count = []
durum_count.append(price_new.count("Artis"))
durum_count.append(price_new.count("Azalis"))
durum_count.append(price_new.count("Sabit"))

x=0
for i in gold_dict:
        
    for j in range(3):
        gold_dict[i][j] /= durum_count[x]
    x+=1




df = pd.DataFrame(gold_dict, index = gold_dict.keys()).transpose()
df['Total'] = df.sum(axis=1)
df

           Artis    Azalis     Sabit     Total
Artis   0.350829  0.638122  0.008287  0.997238
Azalis  0.699700  0.297297  0.003003  1.000000
Sabit   0.250000  0.750000  0.000000  1.000000

In [26]:
"""
60 adet cümle bularak yada yazarak biribine benzer olursa güzel olur.
Bunları sparse matrix haline dönüştürmeniz gerekmektedir.
Sonuçta
hangi kelimeden sonra hangi kelimenin gelme olasılığı
"""
text = "Friends is a 90's Comedy TV show based in Manhattan"
text_list = []
text_list.append(text.split(sep = " "))
text2 = ""
sentences = []

# generate similar sentences by determined text

for i in range(60):

    text2 = ""
    counter_to_nine= 0
    for j in range(10):
        x = random.randint(0,9)
         
        if counter_to_nine == 9:
            text2 += text_list[0][x]
            break
        
        text2 += (text_list[0][x]+ " ")
    
    sentences.append(text2)

dictionary = {}
dictionary_index = {"Friends":0, "is":1, "a":2, "90's":3, "Comedy":4,
                    "TV": 5,"show": 6,"based": 7,"in":8,"Manhattan":9}

for each in text_list[0]:
    dictionary.update({each:[0,0,0,0,0,0,0,0,0,0]})


for i in range(60):
    x = 0
    y = 1
    sentence = sentences[i].split(sep = " ")
    
    for j in range(10):
        x1 = sentence[x]
        y1 = sentence[y]
        
        dictionary[x1][dictionary_index[y1]] +=1
        
        if y==9: break
        x+=1
        y+=1
        

# counting total word number
counter_dictionary = {}
for each in range(10):
    counter_dictionary.update({text_list[0][each]:0})
    
for i in range(60):
    sentence = sentences[i].split(sep = " ")
    
    for j in range(9):
        # range is set to 9 because last word of the sentences shouldnt be counted
        counter_dictionary[sentence[j]] +=1

for i in dictionary:
    
    for j in range(10):
        
        dictionary[i][j]/= counter_dictionary[i]
    
# proving that in every rows possibility equals to 1

for each in dictionary:
    print(each," = ", sum(dictionary[each]))


df = pd.DataFrame(dictionary, index = dictionary.keys()).transpose()
df['Total'] = df.sum(axis=1)
df

Friends  =  1.0
is  =  1.0
a  =  1.0
90's  =  1.0
Comedy  =  0.9999999999999999
TV  =  1.0
show  =  1.0
based  =  1.0
in  =  0.9999999999999998
Manhattan  =  1.0

,Friends,is,a,90's,Comedy,TV,show,based,in,Manhattan,Total
Friends,0.175439,0.105263,0.070175,0.087719,0.052632,0.087719,0.105263,0.105263,0.140351,0.070175,1.0
is,0.127660,0.042553,0.106383,0.063830,0.106383,0.106383,0.127660,0.085106,0.127660,0.106383,1.0
a,0.083333,0.104167,0.020833,0.041667,0.187500,0.062500,0.104167,0.083333,0.125000,0.187500,1.0
90's,0.114754,0.180328,0.049180,0.131148,0.032787,0.131148,0.065574,0.032787,0.163934,0.098361,1.0
Comedy,0.102041,0.081633,0.122449,0.183673,0.081633,0.122449,0.061224,0.102041,0.061224,0.081633,1.0
TV,0.095238,0.126984,0.111111,0.111111,0.031746,0.031746,0.158730,0.111111,0.111111,0.111111,1.0
show,0.102041,0.122449,0.061224,0.061224,0.061224,0.183673,0.061224,0.142857,0.102041,0.102041,1.0
based,0.055556,0.092593,0.092593,0.203704,0.055556,0.074074,0.074074,0.148148,0.129630,0.074074,1.0
in,0.111111,0.063492,0.142857,0.047619,0.158730,0.063492,0.126984,0.095238,0.111111,0.079365,1.0
Manhattan,0.061224,0.000000,0.081633,0.204082,0.163265,0.265306,0.061224,0.040816,0.102041,0.020408,1.0